<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap" rel="stylesheet">


body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(187, 179, 179);
}

h1 {
    font-family: 'Manrope', sans-serif;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barraheader {
    display: flex;
    align-items: center;
}

.img1 {
    width: 37px;
    height: 40px;
    vertical-align: middle;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: left;
}

.firstbanner {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: #f2f5f8;
    padding: 20px;
    position: relative;
}

.img2 {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    max-width: none;
    height: auto;
}

.imgprodu {
    max-width: 100%;
    height: auto;
}

.product-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.product-item {
    border: 1px solid #ccc;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulos {
    text-decoration: none;
    color: black;
    margin-top: 1rem;
}